{
  "cloudlog": {
      "apikey": "<apikey>",
      "url":    "https://<cloudlogurl>/index.php/api"
  },
  "hamqth": {
      "url":      "https://www.hamqth.com/xml.php",
      "username": "<username>",
      "password": "<password"
  },
  "qrz": {
      "url":      "http://xmldata.qrz.com/xml/",
      "username": "<username>",
      "password": "<password>"
  }

